.videos {
  display: grid;
  justify-content: center;
  color: #555;
  .maneText {
    margin: 10px 0 0 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 33px;
    color: #333;
    .hr {
      height: 1px;
      background-color: #333333;
      width: 96%;
    }
  }
  .videoComponent {
    margin: 30px 92.7px;
    :nth-child(1) {
      margin: 20px 50px;
    }
    .video {
      width: 1000px;
    }
    .maneText {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 23px;
      font-weight: bold;
    }
    .hr {
      background-color: #555;
      height: 0.4px;
      width: 100%;
      margin: 40px 0 0 0;
    }
  }
}