.App {
  margin: 0 auto;
  background-color: #C0C0C0;
  display: grid;
  grid-template-areas:
	'h h'
	'n n'
    'c c'
    'f f';
  grid-template-rows: 150px 40px 1fr;
  grid-gap: 10px;
  width: 78.7%;
  max-width: 1200px;
  @media (max-width: 767px) {
    width: 100%;
  }
  .header {
    grid-row: h;
  }
  .navbar {
    grid-row: n;
  }
  .content {
    grid-row: c;
    background-color: white;
    min-width: 1200px;
  }
  .footer {
    grid-row: f;
  }
}
.global {
  margin: 0;
  padding: 0;
  background-color: #C0C0C0;

}
.line {
  background-color: black;
  height: 17px;
}